* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'GmarketSans';
    /* font-family: "San Francisco"; */
    /* font-family: 'Noto Sans KR', sans-serif; */
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 스크롤바 */
::-webkit-scrollbar {
    width: 8px; /* 스크롤바의 너비 */
}
::-webkit-scrollbar-thumb {
    height: 20%; /* 스크롤바의 길이 */
    background: #eee; /* 스크롤바의 색상 */

    border-radius: 10px;
}

@font-face {
    font-family: 'GmarketSans';
    src: url('./styles/GmarketSansTTFMedium.ttf') format('opentype');
}

/** Ultra Light */
@font-face {
    font-family: 'San Francisco';
    font-weight: 100;
    src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff');
}

/** Thin */
@font-face {
    font-family: 'San Francisco';
    font-weight: 200;
    src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff');
}

/** Regular */
@font-face {
    font-family: 'San Francisco';
    font-weight: 400;
    src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff');
}

/** Medium */
@font-face {
    font-family: 'San Francisco';
    font-weight: 500;
    src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff');
}

/** Semi Bold */
@font-face {
    font-family: 'San Francisco';
    font-weight: 600;
    src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff');
}

/** Bold */
@font-face {
    font-family: 'San Francisco';
    font-weight: 700;
    src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff');
}

#root {
    width: 100%;
    padding-top: 8rem;
}